@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --header-main: #A2D2FF;
  --header-text: #343F3E;
  --sidebar-main: #FFC8DD;
  --card-bg: #e1ecf7;
  --button-remove: #FFAFCC;
  --button-read: #A1E8CC;
  --button-not-read: #FFC8DD;
  --button-new:  #a75252;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 115px;
  background-color: var(--header-main);
  color: var(--main-header);
}

.header-title {
  margin-left: 5%;
  padding: 20px 0;
  font-weight: 700;
  font-size: 52px;
}

.middle {
  display: flex;
  flex: 1 0 auto;
}

.library-display {
  width: 85%;
  background-color: var(--main-library);
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
}

.library-display div {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  background-color: var(--card-bg);
}

.library-display div h3 {
  height: 70px;
}

.library-display div span {
  height: 25px;
}

.library-display div button {
  height: 25px;
  width: 150px;
}

.card-btn {
  border: none;
  border-radius: 5px;
}

.card-btn:hover {
  filter: brightness(95%);
}

.del-btn {
  background-color: var(--button-remove);
}

.read-btn {
  background-color: var(--button-read);
}

.not-read-btn {
  background-color: var(--button-not-read);
}

/* .read-btn.active {
  background-color: var(--button-read-active);  //changed to  --button-read
} */

/* Sidebar elements 
   Sidebar contains stats regarding books & A button to add new books */

.sidebar {
  background-color: var(--sidebar-main);
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sidebar-stats {
}

.button-add {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: var(--button-new);
}

.footer {
  flex-shrink: 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0;
}

.creator a {
  text-decoration: none;
  color: inherit;
}

.fa-github {
  transition: transform 0.3s ease-in-out;
  font-size: 20px;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.1);
}

/* css for the form overlay */

.form-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 9;
  cursor: default;
}

.form-container {
  position: absolute;
  max-width: 300px;
  padding: 50px;
  background-color: white;
  border: 3px solid var(--header-text);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.form-title {
  display: inline-block;
  right: 100px;
}

.form-container .close-btn {
  position: absolute;
  font-size: 25px;
  top: 55px;
  right: 55px;
  transition: all 200ms;
}

.form-container .close-btn:hover {
  color: orange;
}